# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Generated Stuff
build
config.mk
config.sh.log
inc/dcs/config
inc/dcs/des/cloud/detail/config.hpp
inc/dcs/des/cloud/detail/version.hpp
tags
user-config.sh
