# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Generated Stuff
build
config.mk
config.sh.log
src/dcs/config
src/dcs/eesim/detail/config.hpp
src/dcs/eesim/detail/version.hpp
tags
user-config.sh
